@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --light-dark-color : #515357;
    --light-color : #808080;

}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height:100%;
}
.main-container{
    min-height: 100vh;
    width:100%;
    position: relative;
}
.navbar-container{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white;
    z-index: 9;
}
.navbar{
    max-width: 800px;
    z-index: 9;
    margin: 0 auto;
    padding: 20px 5px;
}
.navbar img{
    width:150px;
}
.position-area{
    width:100%;
    position: relative;
    top:80px;
    left:0;
    background-color: rgb(255, 255, 255);

}
.position-location-container{
    max-width: 800px;
    margin:0 auto;
    padding: 2rem 5px;
    margin-bottom: 5rem;
}
.position-heading{
    font-family: Lato;
    line-height: 3rem;
    font-size: 2.3rem;
    color: var(--light-dark-color);
    font-weight:500px;
}
.location-area{
    padding: 1.5rem 5px;
}
.location-area>:nth-child(1){
    color: var(--light-color);
    font-family: Lato;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.location-area>:nth-child(2){
    color: var(--light-color);
    font-family: Lato;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.form-area{
   background-color: #F9F9F9;
    position: relative;
    top:0;
    left:0;
    width:100%;
    padding: 10px;

}
.form-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 5px;
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.form-area h1{
    font-family: Lato;
    text-transform: uppercase;
    padding: 3rem 0px;
    color: var(--light-dark-color);
    font-size: 1rem;
}
.upload-file{
    width:100%;
    display:flex;
    gap: 5rem;
    align-items: center;
}
.upload-file label{
    font-family: Lato;
    font-size: 1.1rem;
}
.upload-file button{
    max-width: 300px;
    border: none;
    padding: 10px 20px;
    font-size: 1rem

}
.upload-file button:hover{
    background-color: #dedfe1;
}
.name-section{
    display:flex;
    gap: 5rem;
    align-items: center;
}
.name-section label{
    font-size: 1.1rem;
    font-family: Lato;
}
.name-section input[type="text"]{
    padding: 10px;
    max-width:500px;
    width: 100%;
    margin-left: 12px;

}
.name-section input{
    outline: 0;
    border: 1px solid #dedfe1;
}


@media (max-width:750px){
    .upload-file{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    .name-section{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .name-section input[type="text"]{
        margin-left: 0px;
    }
    
}